.EditarPerfil-wrapper {
    margin: auto;
    margin-top: 150px;
    background-color: white;
    width: 85vw;
    border-radius: 25px;
    padding: 20px;
}


.EditarPerfil-img img {
    width: 100%;
    border-radius: 5px;
}

.EditarPerfil-Information {
    margin-top: 10%;
}



@media (min-width: 1200px) {

.EditarPerfil-wrapper {
    padding: 50px;
}

.EditarPerfil-Profile {
    display: flex;
    align-items: center;
}

.EditarPerfil-img {
    max-width: 10%;
}

.EditarPerfil-Information {
    /* margin-top: 10%; CAMBIAR */
}

}