.editprofile {
    margin: 150px auto;
    background-color: white;
    width: 1500px;
    border-radius: 50px;
    padding: 30px 50px 30px 50px;
    
}

.myProfileNmyAddress {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.myProfile {
    display: flex;
    width: 50%;
    align-items: center;
}

.myProfileImg i{
    font-size: 100px;
    align-items: center;
    justify-content: center;
}

.myProfileD {
    padding-left: 30px;   
}

.myAddress {
    display: flex;
    width: 50%;
    align-items: center;
}

.myAddressLeft {
    width: 50%;
}

.myAddressRight {
    width: 50%;
}

.editProfileFormNeditAddressForm {
    display: flex;
}

.editProfileForm {
    width: 50%;
    padding-right: 50px;
}

.editProfileForm h2 {
    border-bottom: grey 1px solid;
    padding-bottom: 20px;
}

.editProfileDivInputImg {
    padding-top: 20px;
}

.editProfileDivInputImg label {
    margin-right: 10px;
}

.editProfileDivPhone {
    margin-top: 30px;
}

.editProfileDivPhone label {
    margin-right: 10px;
}

.editProfileDivPhone input {
    padding-left: 10px;
}

.editProfileDivEmail {
    margin-top: 30px;
}

.editProfileDivEmail label {
    margin-right: 10px;
}

.editProfileDivEmail input {
    padding-left: 10px;
}

.editProfileDivPassword {
    margin-top: 30px;
}

.editProfileDivPassword label {
    margin-right: 10px;
}

.editProfileDivPassword input {
    padding-left: 10px;
}

.editProfileDivPassword p {
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
}

.editProfileForm button {
    margin-top: 20px;
    font-weight: 500;
    padding: 8px;
    background-color: #AFCBFF;
}

.editProfileForm button:hover {
    background-color: #DEA54B;
}

/* EDIT ADDRESS ////////////////////////////////////// */

.editAddressForm {
    width: 50%;
}

.editAddressForm h2 {
    padding-bottom: 20px;
    border-bottom: grey 1px solid;
}

.editAddressFormStreet {
    padding-top: 20px;
}

.editAddressFormStreet label {
    margin-right: 10px;
}

.editAddressFormStreet input {
    padding-left: 10px;
}

.editAddressFormNum {
    padding-top: 20px;
}

.editAddressFormNum label {
    margin-right: 10px;
}

.editAddressFormNum input {
    padding-left: 10px;
}

.editAddressFormFloor {
    padding-top: 20px;
}

.editAddressFormFloor label {
    margin-right: 10px;
}

.editAddressFormFloor input {
    padding-left: 10px;
}

.editAddressFormLetter {
    padding-top: 20px;
}

.editAddressFormLetter label {
    margin-right: 10px;
}

.editAddressFormLetter input {
    padding-left: 10px;
    padding-right: 10px;
}

.editAddressFormZipCode {
    padding-top: 20px;
}

.editAddressFormZipCode label {
    margin-right: 10px;
}

.editAddressFormZipCode input {
    padding-left: 10px;
}

.editAddressFormState {
    padding-top: 20px;
}

.editAddressFormState label {
    margin-right: 10px;
}

.editAddressFormState input {
    padding-left: 10px;
}

.editAddressFormCity {
    padding-top: 20px;
}

.editAddressFormCity label {
    margin-right: 10px;
}

.editAddressFormCity input {
    padding-left: 10px;
}

.editAddressForm button {
    margin-top: 30px;
    font-weight: 500;
    padding: 8px;
    background-color: #AFCBFF;
}

.editAddressForm button:hover {
    background-color: #DEA54B;
}