/* Estilos comunes para todos los tamaños de pantalla */
a {
  color: inherit;
  text-decoration: none;
}

.home_Home__hero__dKSyR {
  margin: 0 0 32px;
  padding: 64px 0 0;
}

.top-main {
  margin-top: 150px;
  margin-left: 159px;
  margin-right: 159px;
  padding: 0 15px;
}

.searchbox-form_SearchBox__input__kl64p {
  background-color: transparent;
  border: none;
  color: #DEA54B;
  text-align: center;
  margin: auto;
  width: 65%;
}

.searchbox-form_SearchBox__wrapper__6HWA_ {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #DEA54B;
  text-align: center;
  margin: auto;
  width: 65%;
  border: 3px solid #4f6367;
  border-radius: 150px;
  padding-left: 20px;
}

.button-searcher-home {
  border: 2px solid #DEA54B;
  background-color: #DEA54B;
  color: #0E1C36;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 50px;
  font-weight: 500;
  margin-left: 14px;
}

.searcher-home {
  background-image: url('/workspaces/sp44-final-project-g3-readeeks/src/front/img/svg/search-icon.svg');
  margin-top: 26px;
}

.categories-container {
  width: 100%;
  overflow: hidden;
}

.categories-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; /* Centramos los elementos <li> horizontalmente */
  text-align: center; /* Centramos el contenido de los <li> */
}

.categories-list li {
  flex: 0 0 auto;
  margin-right: 20px;
  text-align: center; /* Centramos el contenido del <li> */
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  min-width: 80px;
  justify-content: center; /* Centramos los elementos <li> horizontalmente */
  text-align: center; 
}

.scroll-button {
  background-color: transparent;
  border: none;
  color: #DEA54B;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/* Estilos para dispositivos móviles (768px o menos de ancho) */
@media screen and (max-width: 768px) {
  .home_Home__hero__dKSyR {
    padding: 32px 0 0;
  }

  .top-main {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .searchbox-form_SearchBox__input__kl64p,
  .searchbox-form_SearchBox__wrapper__6HWA_ {
    width: 90%;
  }

  .scroll-button.left {
    margin-right: 10px;
  }

  .scroll-button.right {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .categories-list li {
    display: none;
  }

  .categories-list li:first-child {
    display: block;
  }
}
