.Home-wrapper {
    margin: auto;
    margin-top: 150px;
    background-color: white;
    width: 85vw;
    border-radius: 25px;
    padding: 20px;
}

.MyBooksList-main {
  text-align: center;
}

.MyBooksList-main h5 {
  font-size: 5vw;
}

.MyBooksList-BookImg img {
    width: 100%;
    border-radius: 5px; 
}

.MyBooksList-BookImg {
    text-align: center;
    padding: 2vw;
}

.MyBookList-Component-group {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.MyBookList-Component-group p {
    align-self: center; 
    
    margin-top: 5%;
}

.MyBookList-Component-group button {
    color: black;
    background-color: transparent;
    border: none;
}

.MyBookList-Component-group button:hover {
    color: red;
}

@media (min-width: 600px) {

  .MyBooksList-main h5 {
    font-size: 1.5vw;
  }

.MyBooksList-Component {
    display: flex;
    flex-wrap: wrap;
}

      
.MyBooksList-BookImg {
    text-align: center;
    width: 25%;
}
      
.MyBooksList-BookImg img {
    width: 100%;
    border-radius: 5px;   
}

.MyBooksList-BookImg p {
    padding-top: 15px;
}

.MyBookList-Component-group p {
    align-self: center; 
   
    margin-top: 0%;
}

}