/* Estilos para pantallas de escritorio (más de 768px de ancho) */
/* Reset de márgenes para todos los elementos */
* {
    margin: 0;
  }
  
  /* Estilos para el icono del libro en la barra de navegación */
  .Reedeeks-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    overflow: hidden;
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #0E1C36;
    padding: 1em;
    display: flex;
    color: #DEA54B;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 1em;
  }
  
  /* Contenedor para el logotipo y el título */
  .logo-title {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
  }
  
  /* Estilos para el título */
  .title {
    margin-left: 5px;
    margin-right: 10px;
  }
  
  /* Contenedor para la barra de búsqueda */
  .searcher {
    margin: auto;
    width: 60%;
    border: 2px solid #4f6367;
    border-radius: 70px;
  }
  
  /* Estilos para el campo de búsqueda */
  .buscador {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #DEA54B;
    padding-left: 20px;
  }
  
  /* Elimina el contorno del campo de búsqueda al enfocarlo */
  input:focus {
    outline: none;
  }
  
  /* Contenedor para los botones */
  .navbar-buttons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el botón "Regístrate o inicia sesión" */
  .login {
    border: 2px solid #DEA54B;
    background-color: transparent;
    color: #DEA54B;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 50px;
    margin-right: 15px;
    font-weight: 500;
  }
  
  .login:hover {
    background-color: #DEA54B;
    color: white;
    border-color: transparent;
  }
  
  /* Estilos para el botón "Subir producto" */
  .loggedin-buttons {
    border: 2px solid #DEA54B;
    background-color: transparent;
    color: #DEA54B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 50px;
    font-weight: 500;
    margin-right: 1%;
    font-size: 13px;
    height: 60px;
    width: 140px;
  }
  
  .loggedin-buttons:hover {
    background-color: #DEA54B;
    color: white;
    border-color: #DEA54B;
  }
  
  /* Estilos para dispositivos móviles (768px o menos de ancho) */
  @media screen and (max-width: 1350px) {
    .title {
      display: none;
    }
  
    /* Estilos para el menú desplegable */
    .dropdown {
      display: inline-block;
      position: relative;
    }
  
    .dropdown-toggle {
      background-color: transparent;
      border: none;
      color: #DEA54B;
      cursor: pointer;
    }
  
    .dropdown-menu {
      position: absolute;
      right: 0;
      top: 100%;
      display: none;
      background-color: #0E1C36;
      color: #DEA54B;
      border: 2px solid #DEA54B;
      border-radius: 5px;
      min-width: 150px;
    }
  
    .dropdown-menu.show {
      display: block;
    }
  
    .dropdown-item {
      display: block;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      color: #DEA54B;
    }
  
    .dropdown-item:hover {
      background-color: #DEA54B;
      color: #0E1C36;

    }

    .loggedin-buttons {
        display: none;
    }

    .login{
        display: none;
    }

  }
  

  @media (max-width: 375px) {
    /* Reduce el tamaño del logo y ajusta los márgenes */
    .Reedeeks-icon {
      width: 60px; /* Cambia el tamaño del logo según tus necesidades */
      height: 60px;
      margin-left: 5px; /* Ajusta los márgenes según tus necesidades */
    }
  
    /* Estilos adicionales para evitar que el título se superponga con el logo */
    .title {
      margin-left: 0; /* Puedes ajustar los márgenes según tus necesidades */
      margin-right: 0;
    }
    .searcher{
        width: 55%;
        margin-left: 25px;
    }
  }



@media screen and (min-width: 1351px) {
  .dropdown {
    display: none; /* Oculta el menú desplegable */
  }

  .loggedin-buttons,
  .login {
    display: inline-block; 
  }
}

