/* Estilos para .upload-product-card */
.upload-product-card {
  margin-top: 8rem; /* Margen superior en unidades rem */
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem; /* Margen inferior en unidades rem */
  border-color: brown;
  border: solid;
  padding: 2rem; /* Espaciado interior en unidades rem */
  background-color: white;
  border-radius: 2rem; /* Radio de borde en unidades rem */
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; /* Espacio entre las filas de input en unidades rem */
}

/* Estilos para los inputs */
.custom-input {
  border: 0.05rem solid #afcbff; /* Borde personalizado en unidades rem */
  padding: 0.5rem; /* Espaciado interior en unidades rem */
  margin-bottom: 0.5rem; /* Margen inferior en unidades rem */
  width: 100%; /* Ancho completo */
}

/* Estilos para los input de archivos (personalizados) */
.custom-file-input {
  border: 0.05rem solid #afcbff; /* Borde personalizado en unidades rem */
  padding: 0.5rem; /* Espaciado interior en unidades rem */
  margin-bottom: 0.5rem; /* Margen inferior en unidades rem */
  width: 10rem; /* Ancho del cuadro personalizado en unidades rem */
  height: 6rem; /* Altura del cuadro personalizado en unidades rem */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 0.5rem; /* Radio de borde en unidades rem */
  font-weight: 500;
  text-align: center;
  justify-content: center;
  font-size: 2rem; /* Tamaño del icono en unidades rem */
}

.custom-file-input:hover {
  background-color: #0e1c36;
  color: #dea54b;
}

/* Estilos para el botón "Subir Producto" */
.submit-button {
  border: 0.05rem solid #dea54b; /* Borde personalizado en unidades rem */
  background-color: #dea54b;
  color: #0e1c36;
  padding: 0.5rem 1rem; /* Espaciado interior en unidades rem */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 0.5rem; /* Radio de borde en unidades rem */
  font-weight: 500;
  width: 50%; /* Ancho completo */
}

.submit-button:hover {
  background-color: #0e1c36;
  color: #dea54b;
}

.input-container {
  flex: 1;
  margin-right: 1rem; /* Margen derecho en unidades rem */
}

.custom-select {
  border: 0.05rem solid #afcbff; /* Borde personalizado en unidades rem */
  padding: 0.5rem; /* Espaciado interior en unidades rem */
  margin-bottom: 0.5rem; /* Margen inferior en unidades rem */
  width: 100%; /* Ancho completo */
  /* Otros estilos que desees aplicar */
}

.input-row:nth-child(2) .input-container {
  flex: 1;
  margin-right: 1rem; /* Margen derecho en unidades rem */
}

.submit-button {
  margin-top: 2rem; /* Margen superior en unidades rem */
}

.image-uploads {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin-top: 0.5rem; /*Espacio entre los elementos y el contenedor en unidades rem*/
  margin-bottom: 1rem;
}



.image-uploads label {
  flex-basis: calc(20% - 1rem); /* Establece el ancho base para cada elemento (20% - margen) en unidades rem */
  text-align: center;
  margin-bottom: 0.2rem; /* Espacio entre los elementos y el contenedor en unidades rem */
  
}



/* Estilos para los inputs de archivo */
.image-uploads input[type="file"] {
  display: none; /* Oculta los inputs de archivo */
}

/* Estilos para el select */
.input-row:nth-child(3) select {
  width: 100%; /* Ocupa todo el ancho disponible dentro del contenedor */
}
.image-uploads img {
  width: 450px; /* Ancho deseado para todas las imágenes */
  height: 450px; /* Altura deseada para todas las imágenes */
  object-fit: cover; /* Mantiene el aspecto de la imagen y la recorta si es necesario */
}





/* Estilos para el botón "Cambiar Imagen" */

.submit-button {
  border: 1px solid #dea54b; /* Borde personalizado */
  background-color: transparent;
  color: #dea54b;
  padding: 0.3rem 0.5rem; /* Ajusta el espaciado interior según tus preferencias */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 0.5rem; /* Radio de borde */
  font-weight: 500;
  margin-right: 1rem; /* Margen derecho para separar del borde de la imagen */
  margin-bottom: 1rem;
}

.submit-button:hover {
  background-color: #dea54b;
  color: #0e1c36;
  border-color: #dea54b;
}

.send-button-container {
  display: flex;
  justify-content: center;
}

.send-button {
  border: 0.2rem solid #DEA54B; /* Borde personalizado en unidades rem */
  background-color: #0E1C36;
  color: #DEA54B;
  padding: 0.5rem 0; /* Ajusta el espaciado vertical en unidades rem según tus preferencias */
  text-align: center;
  text-decoration: none;
  display: block; /* Cambia a bloque para ocupar el ancho completo */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 2rem; /* Radio de borde en unidades rem */
  font-weight: 500;
  width: 50%; /* Ocupa todo el ancho disponible */
  margin-top: 1rem;
  
}

.send-button:hover {
  background-color: transparent;
  color: #DEA54B;
  border-color: #DEA54B;
}

.modal-content {
  width: 90%; /* Ancho del modal, puedes ajustar este valor */
  max-width: 600px; /* Ancho máximo, puedes ajustar a lo que consideres similar a la tarjeta */
  margin: 5rem auto; /* Centrar el modal */
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
}





/* Establece un tamaño máximo para las imágenes en dispositivos móviles */
@media screen and (max-width: 768px) {
  .image-uploads img {
    max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    /* Puedes ajustar estos valores según tus necesidades */
    margin-bottom: 1rem;
  
  }
}


/* @media screen and (max-width: 768px) {
  .image-uploads img {
    max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
    /* height: auto; Ajusta la altura automáticamente para mantener la proporción */

    /* Puedes ajustar estos valores según tus necesidades */
  /* } */
/* }  */

/* Establece un tamaño máximo para las imágenes en cualquier tamaño de pantalla */
@media screen {
  .image-uploads img {
    max-width: 50%; /* Ajusta la imagen al ancho máximo del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    /* Puedes ajustar estos valores según tus necesidades */
  }
}
