.product-view-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ProductViewproduct-card{
  /* margin-top: 8rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;  */
  margin-top: 140px;
  width: 50%;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
}


.product-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;      
}

.product-title {
  margin: 0.2rem 0rem 0.3rem 0rem;
}

.product-title h2 {
  font-size: 26px;
}

.contador_favoritos {
  margin-right: 1rem; 
}

.ProductViewFavoritos {
  display: flex;
  align-items: center;
  justify-content: start;
}



.ProductViewVendedor-title {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.ProductViewVendedor-heart-icon {
  position: absolute;
  top: 1rem;
  left: 50%; 
  transform: translateX(-50%); 
  color: grey;
}

.ProductViewVendedor-heart-count {
  position: absolute;
  left: 55%; /* Ajusta según necesites */
  top: 1rem;
}


.ProductViewPrecio-containe{
  margin-top: 1rem;
}


.ProductViewEstado-container{
  margin-top: 1rem;
}


.ProductViewDescripcion-container{

  margin-top: 1rem;

}

.ProductViewCompra-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.ProductViewCompra-button {
  border: 2px solid #AFCBFF;
  background-color: #AFCBFF;
  color: #0E1C36;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 2rem; 
  font-weight: 500;
  width: 30%;
  margin-top: 1rem;
}

.ProductViewCompra-button:hover {
  background-color: #0E1C36;
  color: white;
  border-color: #0E1C36;
}

.ProductViewCompra-button:active {
  transform: scale(0.95); 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}





.ProductViewVendedor-main-image {
  width: 100%;
  max-height: 20rem; /* Ajustar según necesites */
  margin-top: 2rem;
  object-fit: cover;
  cursor: pointer; /* Si deseas que el usuario sepa que puede hacer clic */
}

.ProductViewVendedor-sub-images {
  display: flex;
  gap: 1rem; /* Espaciado entre imágenes */
  margin-top: 1rem;
}




.ProductViewVendedor-fav-button {
  border: 0.2rem solid #DEA54B; /* Borde en unidades rem */
  background-color: transparent;
  color: #DEA54B;
  padding: 1rem 1.5rem; /* Espaciado interior en unidades rem */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 2rem; /* Radio de borde en unidades rem */
  margin-right: 0.5rem; /* Margen derecho en unidades rem */
  font-weight: 500;
  font-size: 1rem; /* Tamaño de fuente en unidades rem */
  padding: 0.5rem 2rem;
  
}

.ProductViewVendedor-fav-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}

/* Si quieres mantener el ícono de corazón en rojo cuando pases el ratón por encima */
.ProductViewVendedor-fav-button:hover i.fa-heart {
  color: white;
}




  
  @media screen and (max-width: 768px) {
    .image-uploads img {
      max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
        height: auto; /* Ajusta la altura automáticamente para mantener la proporción */ 
    }
  }

  
  /* Establece un tamaño máximo para las imágenes en cualquier tamaño de pantalla */
  @media screen {
    .image-uploads img {
      max-width: 50%; /* Ajusta la imagen al ancho máximo del contenedor */
      height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
      /* Puedes ajustar estos valores según tus necesidades */
    }
  }
