.product-view-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ProductViewproduct-card{
  margin-top: 140px;
  width: 50%;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
}

.product-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;   
}

.product-title {
  margin: 0.2rem 0rem 0.3rem 0.5rem;
}

.product-title h2 {
  font-size: 26px;
}

.contador_favoritos {
  margin-right: 1rem; 
}

.ProductViewFavoritos {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20%;
  margin-left: 2rem;
}

.ProductViewVendedor-title {
  /* margin-left: 1rem; */
  font-size: 1.5rem;
}

.ProductViewVendedor-heart-icon {
  position: absolute;
  top: 1rem;
  left: 50%; 
  transform: translateX(-50%); 
  color: grey;
}

.ProductViewVendedor-heart-count {
  position: absolute;
  left: 55%;
  top: 1rem;
}

.precio-estado {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;
}

.ProductViewPrecio-container {
  margin-right: 10%;
}

.ProductViewDescripcion-container{
  margin: 1rem;
}

.ProductViewCompra-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.ProductViewCompra-button {
  border: 2px solid #AFCBFF;
  background-color: #AFCBFF;
  color: #0E1C36;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block; 
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 2rem; 
  font-weight: 500;
  width: 30%;
  margin-top: 1.5rem;
}

.ProductViewCompra-button:hover {
  background-color: #0E1C36;
  color: white;
  border-color: #0E1C36;
}

.ProductViewCompra-button:active {
  transform: scale(0.95); 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.ProductViewAlbum-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.ProductViewVendedor-main-image {
  width: 100%;
  height: 30rem;
  margin-top: 1.5rem;
  object-fit: cover;
  border-radius: 10px;
}

.ProductViewVendedor-sub-images {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.ProductViewVendedor-sub-images img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  margin-top: 2rem;
  margin: 1.5rem 1rem 2rem 0rem;
  gap: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hide-sub-images {
  display: none;
}

.ProductViewVendedor-fav-button {
  background-color: rgb(240, 240, 240);
  color: #e63946;
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 2rem; 
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.ProductViewVendedor-fav-button:hover {
  background-color: #e63946;
  color: white;
  border: none;
}

.ProductViewVendedor-fav-button:hover i.fa-heart {
  color: white;
}

  @media screen and (max-width: 768px) {
    .image-uploads img {
      max-width: 100%; 
        height: auto; 
    }
  }

  @media screen {
    .image-uploads img {
      max-width: 50%; 
      height: auto;
    }
  }
